BGP: invalid length of packed IP address string (error reading next hop when it carry more than one IP)

Data set from https://packetlife.net/captures/protocol/bgp/ 
https://packetlife.net/media/captures/BGP_MP_NLRI.cap 
Packet 20 

next-hop has 2 ip6 (32 bytes) but considered as one IP

error
```
ERROR - __main__ - extract_features:88 - Error processing BGP data: packet 20 : message 1 of BGP_MP_NLRI.cap
ERROR - __main__ - extract_features:89 - BGP_data(108): b'\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\x00\x6c\x02\x00\x00\x00\x55\x40\x01\x01\x00\x40\x02\x04\x02\x01\xfd\xe9\x80\x04\x04\x00\x00\x00\x00\x80\x0e\x40\x00\x02\x01\x20\x20\x01\x0d\xb8\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\xfe\x80\x00\x00\x00\x00\x00\x00\xc0\x01\x0b\xff\xfe\x7e\x00\x00\x00\x40\x20\x01\x0d\xb8\x00\x01\x00\x02\x40\x20\x01\x0d\xb8\x00\x01\x00\x01\x40\x20\x01\x0d\xb8\x00\x01\x00\x00'
ERROR - __main__ - extract_features:90 - invalid length of packed IP address string
Traceback (most recent call last):
  File "C:\Users\Amgad\PycharmProjects\bell\bgp_update.py", line 265, in inet_to_str
    return socket.inet_ntop(socket.AF_INET, inet)
ValueError: invalid length of packed IP address string

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\Users\Amgad\PycharmProjects\bell\bgp_update.py", line 81, in extract_features
    BgpFeatureExtractor.extract_update_attributes(update)
  File "C:\Users\Amgad\PycharmProjects\bell\bgp_update.py", line 207, in extract_update_attributes
    logger.debug("\t\t\t\tnext_hop: " + inet_to_str(bytes(hop)))
  File "C:\Users\Amgad\PycharmProjects\bell\bgp_update.py", line 267, in inet_to_str
    return socket.inet_ntop(socket.AF_INET6, inet)
ValueError: invalid length of packed IP address string
```
packet in wire shark 
![image](https://user-images.githubusercontent.com/31622061/87726256-f537a600-c7be-11ea-8467-f5f9ff8b6887.png)


@kbandla can you please check this 
I think it follows the same pattern, single value instead of a list 

I tried this solution 
`bgp.py line 534`

```
                    # Next Hop
                    nlen = struct.unpack('B', self.data[:1])[0]
                    self.data = self.data[1:]
                    self.next_hop = self.data[:nlen]
                    self.data = self.data[nlen:]

                    if self.afi == AFI_IPV6:
                        hop_len = 16
                    else:
                       hop_len = 4
                    l = []
                    while self.next_hop:
                        hop = self.next_hop[:hop_len]
                        l.append(hop)
                        self.next_hop = self.next_hop[hop_len:]
                    self.next_hop = l
```

here is unit test method
@kbandla @jonoberheide  Can you please check 

```
    def test_BGP_MP_NLRI_20_1_mp_reach_nlri_next_hop(self):
        # Error processing BGP data: packet 20 : message 1 of BGP_MP_NLRI.cap
        __bgp = b'\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\xff\x00\x6c\x02\x00\x00\x00\x55\x40\x01\x01\x00\x40\x02\x04\x02\x01\xfd\xe9\x80\x04\x04\x00\x00\x00\x00\x80\x0e\x40\x00\x02\x01\x20\x20\x01\x0d\xb8\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00\x01\xfe\x80\x00\x00\x00\x00\x00\x00\xc0\x01\x0b\xff\xfe\x7e\x00\x00\x00\x40\x20\x01\x0d\xb8\x00\x01\x00\x02\x40\x20\x01\x0d\xb8\x00\x01\x00\x01\x40\x20\x01\x0d\xb8\x00\x01\x00\x00'
        assert (__bgp == bytes(BGP(__bgp)))
        bgp = BGP(__bgp)
        assert (len(bgp.data) == 89)
        assert (bgp.type == UPDATE)
        assert (len(bgp.update.withdrawn) == 0)
        assert (len(bgp.update.announced) == 0)
        assert (len(bgp.update.attributes) == 4)

        attribute = bgp.update.attributes[0]
        assert (attribute.type == ORIGIN)
        assert (attribute.optional == False)
        assert (attribute.transitive == True)
        assert (attribute.partial == False)
        assert (attribute.extended_length == False)
        assert (attribute.len == 1)
        o = attribute.origin
        assert (o.type == ORIGIN_IGP)

        attribute = bgp.update.attributes[1]
        assert (attribute.type == AS_PATH)
        assert (attribute.optional == False)
        assert (attribute.transitive == True)
        assert (attribute.partial == False)
        assert (attribute.extended_length == False)
        assert (attribute.flags == 64)
        assert (attribute.len == 4)
        assert (len(attribute.as_path.segments) == 1)
        segment = attribute.as_path.segments[0]
        assert (segment.type == AS_SEQUENCE)
        assert (segment.len == 1)
        assert (len(segment.path) == 1)
        assert (segment.path[0] == 65001)

        attribute = bgp.update.attributes[2]
        assert (attribute.type == MULTI_EXIT_DISC)
        assert (attribute.optional == True)
        assert (attribute.transitive == False)
        assert (attribute.partial == False)
        assert (attribute.extended_length == False)
        assert (attribute.flags == 0x80)
        assert (attribute.len == 4)
        assert (attribute.multi_exit_disc.value == 0)

        attribute = bgp.update.attributes[3]
        assert (attribute.type == MP_REACH_NLRI)
        assert (attribute.optional == True)
        assert (attribute.transitive == False)
        assert (attribute.partial == False)
        assert (attribute.extended_length == False)
        assert (attribute.flags == 0x80)
        assert (attribute.len == 64)
        mp_reach_nlri = attribute.mp_reach_nlri
        assert (mp_reach_nlri.afi == AFI_IPV6)
        assert (mp_reach_nlri.safi == SAFI_UNICAST)
        assert (len(mp_reach_nlri.snpas) == 0)
        assert (len(mp_reach_nlri.announced) == 3)
        prefix = mp_reach_nlri.announced[0]
        assert (inet_to_str(prefix.prefix) == '2001:db8:1:2::')
        assert (prefix.len == 64)
        prefix = mp_reach_nlri.announced[1]
        assert (bgp_update.inet_to_str(prefix.prefix) == '2001:db8:1:1::')
        assert (prefix.len == 64)
        prefix = mp_reach_nlri.announced[2]
        assert (bgp_update.inet_to_str(prefix.prefix) == '2001:db8:1::')
        assert (prefix.len == 64)
        assert (len(mp_reach_nlri.next_hop) == 2)
        assert (inet_to_str(mp_reach_nlri.next_hop[0]) == '2001:db8::1')
        assert (inet_to_str(mp_reach_nlri.next_hop[1]) == 'fe80::c001:bff:fe7e:0')
```

As of [RFC5549](https://tools.ietf.org/html/rfc5549)  _Advertising IPv4 Network Layer Reachability Information with an IPv6 Next Hop_

> Specifically, this document allows advertising with [[RFC4760](https://tools.ietf.org/html/rfc4760)] of an MP_REACH_NLRI with:
> - AFI = 1
> - SAFI = 1, 2, 4, or 128
> - Length of Next Hop Address = 16 or 32
> - Next Hop Address = IPv6 address of next hop (potentially followed by the link-local IPv6 address of the next hop).  This field is to be constructed as per Section 3 of [RFC2545].
> - NLRI= NLRI as per current AFI/SAFI definition
> This is in addition to the current mode of operation allowing advertisement of NLRI for <AFI/SAFI> of <1/1>, <1/2> and <1/4> with a next hop address of IPv4 type and advertisement of NLRI for <AFI/SAFI> of <1/128> with a next hop address of VPN-IPv4 type.
> The BGP speaker receiving the advertisement MUST use the Length of Next Hop Address field to determine which network-layer protocol the next hop address belongs to.  When the Length of Next Hop Address field is equal to 16 or 32, the next hop address is of type IPv6. This field is to be constructed as per Section 3 of [[RFC2545](https://tools.ietf.org/html/rfc2545#section-3)].

The suggested fix is handling both that when IP4 and IP6 and next hop address length is either 16 or 32 